body {
    background-color: #000;
    font-family: Tahoma, Helvetica, Arial;
    font-size: 24px;
    color: #000;
}

.hide {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sprite {
    background: url('../images/sprite.png') no-repeat;
    background-size: 1000px 1000px;
}

.content {
    background: url(../images/bg.jpg) no-repeat;
    background-size: 640px 1036px;
    width: 640px;
    margin: 0 auto;
}

.white-screen {
    background: #fff;
    -webkit-box-shadow: 0 5px 5px 0 rgba(21, 22, 25, 0.21);
    -moz-box-shadow: 0 5px 5px 0 rgba(21, 22, 25, 0.21);
    box-shadow: 0 5px 5px 0 rgba(21, 22, 25, 0.21);
}